body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #1e231d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #1c1d23;
  /* background-color: #252422; */
  min-height: 100vh;
}

.head-bar {
  /* background-color: #1e231d; */
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ribbon-container {
  /* background-color: #825618; */
  background-color: #3c6e71;
  padding-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 13vw;
}

.search-field-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  width: 40vw;
  max-width: 30em;
  padding: 0.5em;
  margin-top: 4.5em;
  /* margin-left: 37.5vw; */
}

.searchButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0.5em;
  margin: 1em;
  width: 10%;
}

.searchButton {
  background-color: white;
  border-radius: 0.2em;
  max-height: 2em;
  max-width: 100%;
  min-width: 4em;
  font-size: 1.2em;
  margin-right: 1em;
}

.booksDisplayContainer {
  min-height: 75vh;
  height: 100%;
}

.booksContainer {
  padding-top: 3em;
  padding-bottom: 3em;
  padding: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 2em;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  justify-content: center;
  color: rgb(216, 112, 59);
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
  margin-right: 1em;
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
}

.loginButton {
  background-color: #d9d9d9;
  border-radius: 0.3em;
  max-height: 3em;
  max-width: 100%;
  min-width: 5em;
  font-size: 1em;
  margin-left: 0.3em;
  padding: 8px;
  text-align: center;
}

#title {
  color: white;
  line-height: 2em;
  font-size: 3em;
  margin-left: 0.2em;
  margin-right: 1em;
  background-color: black;
  padding: 0.5em;
  top: -1em;
  position: absolute;
  user-select: none;
}

#signed-in {
  color: white;
  font: "Montserrat";
  font-size: "12px";
  text-transform: "uppercase";
}

.login-input input {
  color: white;
  font: "Montserrat";
  font-size: "12px";
  text-transform: "uppercase";
}

.login-input label {
  color: white;
  font: "Montserrat";
  font-size: "12px";
  text-transform: "uppercase";
}

.search-field input {
  font-size: 1.5em;
  font: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
}

.search-field label {
  font-size: 2em;
  position: absolute;
  top: -0.3em;
  color: white;
}

.footer {
  background-color: #141519;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 1em;
}

#separator {
  height: 1em;
  width: 100%;
  margin-top: 1em;
}

#foot-profile {
  color: white;
  text-decoration: none;
}

#foot-profile:hover {
  color: #eb5e28;
}

.tab label {
  color: white;
  margin-right: 1em;
}

.tab input {
  color: white;
}

.child-tab label {
  color: white;
  font-size: 1.5em;
  margin-right: 1em;
}

.child-tab input {
  color: white;
}
